@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  vertical-align: baseline;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-image {
  width: 100% !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.ant-form-item-control-input {
  min-height: unset !important;
}

.slick-center img {
  transform: scale(1.25);
  transition: transform 0.5s;
}

.ant-carousel .slick-prev::after,
.ant-carousel .slick-next::after {
  color: black !important;
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
}

/* .slick-slide img {
  height: 250px !important;
  object-position: center;
} */
 .ant-menu-sub.ant-menu,.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left{
  background-color: #3BA769 !important;

 }

.ql-editor li{
  list-style-type : unset !important;
}

ol, ul, menu{
  list-style: none; 
}

.ql-editor ol,.ql-editor ul,.ql-editor menu {
  list-style: initial  !important; 
}